

<div class="container-xl" >
	<div class="modal-dialog">
		<div class="modal-content">
			<form #attendence="ngForm" class="form-horizontal" role="form"(ngSubmit)="onSubmit(attendence.value)">
				<div class="modal-header">						
					<h4 class="modal-title">Add Attendance</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Employee Code</label>
						<input type="text" class="form-control" [(ngModel)]="attendence.employeeCode" name="employeeCode" required>
					</div>
					<div class="form-group">
						<label>Employee Name</label>
						<input type="email" class="form-control"[(ngModel)]="attendence.employeeName" name="employeeName" required>
					</div>
					<div class="form-group">
						<label>In Time</label>
						<input class="form-control"[(ngModel)]="attendence.inTime" name="inTime" required>
					</div>
					<div class="form-group">
						<label>Out Time</label>
						<input type="text" class="form-control"[(ngModel)]="attendence.outTime"  name="outTime"required>
					</div>		
                    <div class="form-group">
						<label>Hours Worked</label>
						<input class="form-control" [(ngModel)]="attendence.hoursWorked" name="hoursWorked"required>
					</div>
					<div class="form-group">
						<label>Over Time</label>
						<input type="text" class="form-control" [(ngModel)]="attendence.overTime" name="overTime" required>
					</div>						
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" [disabled]="!attendence.valid" value="Submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>