
	<div class="modal-dialog">
		<div class="modal-content">
			
				<div class="modal-header">						
					<h4 class="modal-title">Attendance Details</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body"*ngIf="attendence">					
					<div class="form-group">
						<label>Employee Code  : </label>{{attendence.employeeCode}}
					</div>
					<div class="form-group">
						<label>Empolyee Name : </label>{{attendence.employeeName}}
					</div>
					<div class="form-group">
						<label>In Time : </label>{{attendence.inTime}}
					</div>
					<div class="form-group">
						<label>Out Time  : </label>{{attendence.outTime}}
					</div>				
                    <div class="form-group">
						<label>Hours Worked : </label>{{attendence.hoursWorked}}
					</div>
					<div class="form-group">
						<label>Over Time  : </label>{{attendence.overTime}}
					</div>						
				</div>
				<div class="modal-footer">
					
					<input type="submit" class="btn btn-success"(click)="back()" value="Back To List">
				</div>
        </div>
    </div>
    
		
	
